import { Inter as FontSans } from "next/font/google";
import "./globals.css";
import { cn } from "@/lib/utils"
import Navbar from "@/components/shared/navbar"

export const metadata: Metadata = {
  title: "<%= @app.name %>",
  description: "Generated Via ReLLM",
};

const fontSans = FontSans({
  subsets: ["latin"],
  variable: "--font-sans",
})


export default function RootLayout({
  children,
}: {
  children: React.ReactNode;
}) {
  return (
    <html lang="en">
      <body className={cn(
        "min-h-screen bg-background text-foreground dark font-sans antialiased",
        fontSans.variable
      )}>
        <Navbar/>
        {children}
      </body>
    </html>
  );
}
